{{>header}}

    <main>
        <div class="row py-5 px-4">
            <div class="col-xl-8 col-md-10 col-sm-14 mx-auto"> <!-- Tamaño contendedor -->
                <!-- Profile widget -->
                <div class="bg-white shadow rounded overflow-hidden">
                	{{#user}}
                    <div class="px-4 pt-0 pb-4 bg-dark">
                        <div class="media align-items-end profile-header">
                            <div class="profile mr-3" style="margin-left:7%">
                                <img src="/img/imagenes/profile/profile-"+{{idUser}}+".png" alt="..." width="130" class="rounded mb-2 img-thumbnail">
                            </div>
                            <div class="media-body mb-5 text-white" style="text-align: end">
                                <h4 class="mt-0 mb-0" style="color:white; font-weight: 600">{{nickname}}</h4>
                                <p class="small mb-4" > <i class="fa fa-map-marker mr-2" ></i>{{mail}}</p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="bg-light p-4 d-flex justify-content-end text-center">                        
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item">
                                <h5 class="font-weight-bold mb-0 d-block">4</h5><small class="text-muted"> <i class="fa fa-picture-o mr-1"></i>Product</small>
                            </li>
                            <li class="list-inline-item">
                                <h5 class="font-weight-bold mb-0 d-block">2.1</h5><small class="text-muted"> <i class="fa fa-user-circle-o mr-1"></i>Assessment</small>
                            </li>
                        </ul>
                    </div>

                    <div class="py-4 px-4">
                        <!--Nav Button  -->
                        <nav style="margin-bottom:2%">                                   
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-recent-products" role="tab" aria-controls="nav-home" aria-selected="true" style="color:grey">Your Products</a>
                                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-add-products" role="tab" aria-controls="nav-profile" aria-selected="false" style="color:grey">Add Product</a>
                                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-your-shopping" role="tab" aria-controls="nav-profile" aria-selected="false" style="color:grey">Your Shopping</a>
                                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-statistics" role="tab" aria-controls="nav-profile" aria-selected="false" style="color:grey">Statistics</a>
                                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-edit-profile" role="tab" aria-controls="nav-profile" aria-selected="false" style="color:grey">Edit Profile</a>
                            </div>
                        </nav>
                        <!--End Nav Button  -->
                        <div class="tab-content" id="nav-tabContent">
                            <!-- Your Products -->
                            <div class="tab-pane fade show active" id="nav-recent-products" role="tabpanel" aria-labelledby="nav-home-tab">
                                <div class="row">
                                	{{#products}}
                                    <div class="col-lg-6 mb-2 pr-lg-1"><img src="/img/imagenes/product/product-{{idProduct}}.jpg" alt={{productName}} class="img-fluid rounded shadow-sm"></div>
                                    {{/products}}
                                    {{^products}}
                            		<h4>No products yet.</h4>
                            		{{/products}}
                                </div>
                            </div>
                            <!-- Add Products -->
                            <div class="tab-pane fade" id="nav-add-products" role="tabpanel" aria-labelledby="nav-profile-tab">
                                <div class="row">
                                    <h3>Add your new product!</h3>
                                    <form class="row contact_form" action="/profile" method="post" enctype="multipart/form-data">
                                        <div class="col-md-12 form-group p_star">
                                            <input type="text" class="form-control" id="productName" name="productName" value="" placeholder="Product name"/>
                                        </div>
                                        <div class="col-md-2 form-group p_star">
                                        	<select name="category" id="category">
                                        		<option>Films</option>
                                        		<option>TV Series</option>
                                        		<option>Portrait</option>
                                        		<option>Photography</option>
                                        		<option>Comics</option>
                                        		<option>Custom</option>
                                        	</select>
                                        </div>
                                        <div class="col-md-2 form-group p_star">
                                            <input type="number" class="form-control" id="price" name="price" value="" placeholder="Product price"/>
                                        </div>
                                        <div class="col-md-12 form-group p_star">
                                            <textarea id="description" name="description" rows="4" cols="40" class="form-control" placeholder="Product Description"></textarea>
                                        </div>
                                        <div class="col-md-12 form-group p_star">
                                            <input type="file" class="form-control" id="image" name="image" accept=".jpg, .jpeg"/>
                                        </div>
                                        <div class="col-md-12 form-group">
                                            <button type="submit" value="submit" class="btn_3">Add Product</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- Your Shopping -->
                            <div class="tab-pane fade" id="nav-your-shopping" role="tabpanel" aria-labelledby="nav-profile-tab">
                                <div class="row">
                                    <table class="table table-striped table-bordered">
                                        <thead class="table-dark">
                                            <tr>
                                                <td>Fecha</td>
                                                <td>Estado</td>
                                                <td>Producto</td>
                                                <td>Descuento</td>
                                                <td>Unidades del Producto</td>
                                                <td>Precio por Unidad</td>
                                                <td>Precio Total del Pedido</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>21/02/2021</td>
                                                <td>Completado</td>
                                                <td>Breaking Bad</td>
                                                <td>0%</td>
                                                <td>2</td>
                                                <td>30€</td>
                                                <td>60€</td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>18/02/2021</td>
                                                <td>Completado</td>
                                                <td>Prision Break</td>
                                                <td>0%</td>
                                                <td>1</td>
                                                <td>20€</td>
                                                <td>100€</td>
                                            </tr>
                                            <tr>
                                                <td>18/02/2021</td>
                                                <td>Completado</td>
                                                <td>Gran Torino</td>
                                                <td>0%</td>
                                                <td>2</td>
                                                <td>40€</td>
                                                <td>100€</td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>15/02/2021</td>
                                                <td>Completado</td>
                                                <td>Shameless</td>
                                                <td>0%</td>
                                                <td>1</td>
                                                <td>30€</td>
                                                <td>30€</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- Statistics -->
                            <div class="tab-pane fade" id="nav-statistics" role="tabpanel" aria-labelledby="nav-profile-tab">
                                <div class="row">
                                    <div class="col-lg-6 pr-lg-1 mb-2"><img src="assets/img/imagenes/perfil/grafico.png" alt="" class="img-fluid rounded shadow-sm"></div>
                                </div>
                            </div>
                            <!-- Edit Profile -->
                            <div class="tab-pane fade" id="nav-edit-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                                <div class="row">
                                    <h3>Edit your profile</h3>
                                    <form class="row contact_form" action="#" method="post" novalidate="novalidate">
                                        <div class="col-md-12 form-group p_star">
                                            <input type="text" class="form-control" id="profilename" name="profilename" value="" placeholder="Name"/>
                                        </div>
                                        <div class="col-md-2 form-group p_star">
                                            <input type="text" class="form-control" id="profileemail" name="profileemail" value="" placeholder="Email"/>
                                        </div>
                                        <div class="col-md-12 form-group p_star">
                                            <input type="number" class="form-control" id="profilephone" name="profilephone" value="" placeholder="Phone Number"/>
                                        </div>
                                        <div class="col-md-12 form-group p_star">
                                            <input type="file" class="form-control" id="productimage" name="productimage" accept="image/jpeg, image/png"/>
                                        </div>
                                        <div class="col-md-12 form-group">
                                            <button type="submit" value="submit" class="btn_3">Save changes</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/user}}
                    {{^user}}
                    <h2>User not found</h2>
                    {{/user}}
                </div>
                <!-- End profile widget -->
            </div>
        </div>
    </main>
        
 {{>footer}}