<main>

  <!-- slider Area Start-->
  <div class="slider-area ">
    <!-- Mobile Menu -->
    <div class="single-slider slider-height2 d-flex align-items-center"
      data-background="/new/assets/img/imagenes/category/banner.jpg">
      <div class="container">
        <div class="row">
          <div class="col-xl-12">
            <div class="hero-cap text-center">
              <h2 style="color:black">{{category}}</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- slider Area End-->

  <!-- Latest Products Start -->
  <section class="latest-product-area latest-padding">
    <div class="container">
      <div class="row product-btn d-flex justify-content-between">
        <div class="properties__button">
          <!--Nav Button  -->
          <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
                aria-controls="nav-home" aria-selected="true">All products</a>
            </div>
          </nav>
          <!--End Nav Button  -->
        </div>
      </div>
      <!-- Nav Card -->
      <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
        <div class="row" id="moreProductsCategory">
          <!--<div *ngIf="products" class="row" id="moreProductsCategory">-->
          <!--<a *ngFor="let product of products; index as i" href="">-->
          <ng-container *ngIf="products">
            <a *ngFor="let product of products; index as i" [routerLink]="['/new/single-product/',product.idProduct]">
              <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="single-product mb-60">
                  <div class="product-img">
                    <img [src]="productService.getImageProduct(product)" alt={{product.productName}}>
                    <div class="new-product">
                      <span>{{product.category}}</span>
                    </div>
                  </div>
                  <div class="product-caption">
                    <div class="product-ratting">
                      <ng-template ngFor let-number [ngForOf]="[1,2,3,4,5]">
                        <i *ngIf="ratingProducts[i]>=number" class="far fa-star"></i>
                        <i *ngIf="ratingProducts[i]<number" class="far fa-star low-star"></i>
                      </ng-template>
                    </div>
                    <h4><a href="#">{{product.productName}}</a></h4>
                    <p>${{product.price}}</p>
                  </div>
                </div>
              </div>
            </a>
          </ng-container>
          <h4 *ngIf="!products">No products yet.</h4>
        </div>
        <div id="loadingCategory" class="nav-item nav-link active" style="color:blue"></div>
        <button type="button" id="bLoadMoreCategory" class="btn header-btn" *ngIf="loadMoreVisible" (click)="getProductsCategoryPage()">Load More</button>
      </div>
      <!-- End Nav Card -->
    </div>
  </section>
  <!-- Latest Products End -->

  <!-- Shop Method Start-->
  <div class="shop-method-area section-padding20">
    <div class="container">
      <div class="row d-flex justify-content-between">
        <div class="col-xl-4 col-lg-4 col-md-6">
          <div class="single-method mb-40">
            <i class="ti-package"></i>
            <h6>Reliable shipping method</h6>
            <p>Don't worry about going anywhere. We send the order to your home.</p>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6">
          <div class="single-method mb-40">
            <i class="ti-unlock"></i>
            <h6>Secure payment system</h6>
            <p>Until the product is received and verified, you can claim your money.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Shop Method End-->
</main>