<div class="row">
  <div class="col-lg-6 pr-lg-1 mb-2">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <div id="plotlyChart"></div>
    <!--
    <script>
      var data = [
        {
          x: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
          y: [{{ January }}, {{ February }}, { { March } }, { { April } }, { { May } }, { { June } }, { { July } }, { { August } }, { { September } }, { { October } }, { { November } }, { { December } }],
      type: 'bar'
        }
      ];

      Plotly.newPlot('plotlyChart', data);
    </script>-->
  </div>
</div>