<div class="row">
  <div class="col-lg-6 pr-lg-1 mb-2">
    <table>
      <tr>
        <td>
          <ngx-charts-bar-vertical [results]="sales" [view]="view" [scheme]="colorScheme" [schemeType]="schemeType" [gradient]="gradient" [xAxis]="xAxis" [yAxis]="yAxis" [legend]="legend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
          [xAxisLabel]="xAxisLabel" [yAxisLabel]="xAxisLabel" [legendTitle]="legendTitle" [legendPosition]="legendPosition" [animations]="animations" [showGridLines]="showGridLines" [trimXAxisTicks]="trimXAxisTicks" [trimYAxisTicks]="trimYAxisTicks"
          [rotateXAxisTicks]="rotateXAxisTicks" [showDataLabel]="showDataLabel"
          [barPadding]="barPadding" [tooltipDisabled]="tooltipDisabled" [roundEdges]="roundEdges">
          </ngx-charts-bar-vertical>
        </td>
      </tr>
    </table>
  </div>
</div>