<!-- slider Area Start-->
<div class="slider-area ">
  <!-- Mobile Menu -->
  <div class="single-slider slider-height2 d-flex align-items-center" data-background="/img/hero/contact_hero.jpg">
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="hero-cap text-center">
            <h2 style="color:black">Edit Product</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- slider Area End-->

<!--================Single Product Area =================-->
<div class="product_image_area">
  <div class="container">
    <div class="row justify-content-center">
      <!--
      <div class="col-lg-8">
        <div class="product_img_slide owl-carousel">
          <div class="single_product_img">
            <!--<img src="/{{idProduct}}/image" alt={{product.productName}} class="img-fluid">
          </div>
        </div>
      </div>-->
      <div class="col-lg-8">
        <img [src]="productService.getImageProduct(product)" [alt]="product.productName" class="img-fluid">
        <div class="product-caption">
          <div class="product-ratting text-center">
            <ng-template ngFor let-number [ngForOf]="[1,2,3,4,5]">
              <i *ngIf="product.rating>=number" class="far fa-star"></i>
              <i *ngIf="product.rating<number" class="far fa-star low-star"></i>
            </ng-template>

          </div>
        </div>
      <!--<form action="/edit-product/{{product.idProduct}}" method="post" novalidate="novalidate">-->
          <div class="single_product_text text-center" style="margin-bottom: 10px;">
            <h3>
              <input type="text" id="productName" name="productName"  [(ngModel)]="product.productName" value="{{product.productName}}" size="20">
            </h3>

            <input type="text" id="description" name="description" [(ngModel)]="product.description" value="{{product.description}}" size="50">

            <div class="card_area">
              <div class="product_count_area">
                <p style="font-size:38px;">$</p>
                <h3>
                  <input type="text" id="price" name="price" [(ngModel)]="product.price" size="2">
                </h3>
              </div>
              <div class="add_to_cart">
                <button  *ngIf="bEditDeleteVisible" (click)="editProduct()" type="submit" value="submit" class="btn_3">Save Changes</button>
              </div>
            </div>
          </div>
        
       <!-- </form>-->        
       <button *ngIf="bEditDeleteVisible" (click)="removeProduct()" type="submit" value="submit" class="btn_3" 
            style="background-color: crimson; color:rgb(255, 255, 255);border:lightcoral">Delete Product</button>
        <!--
       <form class="text-center" action="/delete-product/{{product.idProduct}}" method="post" novalidate="novalidate">
          <button *ngIf="bEditDeleteVisible" (click)="removeProduct()" type="submit" value="submit" class="btn_3" 
            style="background-color: crimson; color:rgb(255, 255, 255);border:lightcoral">Delete Product</button>
          
        </form>-->
      
      </div>

    </div>
  </div>
</div>